language: node_js
node_js:
- "0.10"
- "0.12"
- "1"
- "2"
- "3"
- "4"
- "6"
- "8"
- "9"
script: "npm run-script test-travis"
after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
